.navigation{
    padding: 20px 25px 25px 25px;
}

.logo{
    width: 35px;
    height: 35px;
}

.container-link{
    float:right;   
    margin-top: 5px;
}

.nav-link{
    text-decoration: none;
    color: black;
}