body {
  margin: 0;
  font-family: -apple-system, Roboto Condenced, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto Condenced, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
