@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  margin: 0px;
  padding: 20px 40px;
  font-family: -apple-system, Roboto Condenced, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: Roboto Condenced, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
